<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="enter your username" name="username" >  <br><br><br>
        <textarea placeholder="Write your post" name="content" rows="10" cols="10"></textarea> <br><br><br>
        <input placeholder="enter your image url" name="image">
        <button>Submit Post</button>
    </form> 
</body>
</html>